[gui]
	recentrepo = C:/AGit/shapelib
	recentrepo = C:/AGit/WinUml
	recentrepo = C:/AGit/python
	recentrepo = C:/AGit/windows
	recentrepo = C:/AGit/unix
[user]
	email = alan@quinag.com
	name = Alan Mackechnie
